html,body {
	height: 100%;
}

body {
	color: #222;
	line-height: 1.5em;
	font-family: 'Open Sans', sans-serif;
	background: #FAFAFA;
}

h1,h2,h3,h4 {
	 font-family: 'Josefin Sans', sans-serif;
	 color: #41210F;
}

h2 {
	font-size: 2.5em;
	line-height: 1em;
	margin-top: 0em;
}

h3 {
	font-size: 1.5em;
}

h4 {
	font-size: 1.2em;
	margin-bottom: 1em;
}

a {
 color: #3FB0A2;
 
}
a:hover {
 color: #BFA67F;
}

.pure-button:hover {
	 color: #444;
}

h2 a {
	color: #41210F;
	text-decoration: none;
}

h2 a:hover {
	text-decoration: underline;
}

.post-meta {
	margin-top: 2em;
	font-size: 90%;
}

.post-meta a {
	color: #aaa;
	text-decoration: none;
}

.post-meta a:hover {
	text-decoration: underline;
}

.post-meta .date {
	float: right;
}

.post-meta .location {
	float: right;
}

.post-meta .like-button,.post-meta .like-button div,.post-meta .like-button a
	{
	float: right;
	margin-left: 1em;
}

article .post-meta div.notes {
	margin-top: 3em;
}

article .notes img {
	vertical-align: middle;
}

.blog-info img.avatar {
	border: 4px double #BAA98C;
	float: left;
	margin: 0 1em 1em 0;
}

#footer-bar .some-links {
	float: right;
}

#sidebar .blog-info img.avatar {
	margin-bottom: 0;
	display: inline;
	float: none;
	vertical-align: middle;
}

#sidebar .blog-info h3 {
	display: inline;
}

.blog-info .some-links ul {
	list-style: none;
	margin: 0 0 0 0;
	font-size: 1.3em;
	padding: 0 0 0 0;
}

.blog-info .some-links ul li {
	display: inline;
	margin-left: 0.3em;
}

#footer-bar div.likes ul li img.like_photo {
	margin: 0 1em 1em 0;
	float: left;
}

#column-layout {
	overflow-y: hidden;
	overflow-x: visible;
	min-height: 100%;
	height: auto !important;
	margin-bottom: -18em;
}

.content-wrapper {
	margin: 0px auto 0px auto;
	padding: 0 1em 0em 1em;
	max-width: 33em;
}

#sidebar, #footer-bar {
	background: #41210F;
}

#sidebar, 
#footer-bar, 
.some-links a,
#sidebar h3,
#footer-bar h3
{
	 color: #BAA98C;
}

#sidebar {
	display: none;
}

h1.main {
	 margin-bottom: 2.5em;
}

#content {
	padding-top: 6em;
	padding-bottom: 6em;
	margin-bottom: 18em;
}

#footer-bar {
	min-height: 10em;
	padding: 1em 0 1em 0;
}

#footer {
	background: #050505;
	color: #FAFAFA;
	padding: 1em;
	text-align: center;
	height: 4em;
	position: relative;
	margin-top: 0em;
	line-height: 4em;
}

.posts {
	padding: 0em;
	margin-top: 3em;
}

article {
	margin: 0em 0 3em 0;
	max-width: 31em;
	border: solid 1px #ededed;
	padding: 1em 1em 0.5em 1em;
	background: white;
}

article .html_photoset {
	max-width: 31em;
}

article header .date {
	color: #aaa;
	font-weight: normal;
	font-size: 1.25em;
	margin-top: 0em;
	font-family: 'Josefin Sans', sans-serif;
	clear: left;
}

article header .date a {
	color: #aaa;
	text-decoration: none;
}

article header .date a:hover {
	text-decoration: underline;
}

article .content {
  clear: both;
}

article .cover {
  margin: 1em 0 1em 0;
}

article .content .html_photoset,article .content img {
	margin: 0 auto;
	display: block;
}

article header h2 {
  margin-bottom: 0.5em;
}

article div.icon {
  font-size: 2.0em;
  color: #FFF;
  background: #DE5C0C;
  width: 2em;
  height: 2em;
  -moz-border-radius: 1em;
  border-radius: 1em;
  margin: -1.5em 0.5em 0.0em -1.5em;
  text-align: center;
}

article div.icon i {
  margin: 0 0 0 0;
  position: absolute;
  line-height: 2em;
  margin-left: -0.5em;
  width: 1em;
}

article p.excerpt {
  font-size: 130%;
  line-height: 130%;
}

article iframe {
  max-width: 31em;
  margin: 0 auto;
  display: block;
}

article iframe.reveal {
  width: 31em;
  height: 23em;
}

blockquote {
	border-left: solid 0.5em #ddd;
	margin-left: 0em;
	padding-left: 1.5em;
	font-size: 90%;
}

.source {
	font-size: 90%;
}

@media ( min-width : 45em) {
	.content-wrapper {
		max-width: 37em;
	}
	article {
		margin: 0em 0 4em 0;
		padding: 3em 3em 2em 3em;
		min-width: 31em;
	}
	#footer-bar div.likes ul li {
		min-width: 44em;
	}
	article header .date {
		margin-top: 0em;
	}
	.posts {
		padding: 0em;
		margin-top: 4em;
	}
	
  article div.icon {
    font-size: 2.5em;
    width: 2.3em;
    height: 2.3em;
    -moz-border-radius: 1.5em;
    border-radius: 1.5em;
    margin: -2.3em 0.5em 0em -2.3em;
  }
  
  article div.icon i {
    line-height: 2.5em;
  }
}

@media ( min-width : 77em) {
	#footer-bar {
		display: none;
	}
	#sidebar {
		display: inline-block;
		margin: 0em 0em 2.5em 0em;
		padding: 7em 1em 0 1em;
		float: left;
		position: relative;
	}
	#column-right {
		background: #41210F;
		width: 25%;
		float: right;
		padding-bottom: 99999px;
		margin-bottom: -99999px;
	}
	#column-layout {
		margin-bottom: -6em;
	}
	#column-left {
		margin: 0px auto 0px auto;
		max-width: 58em;
	}
	#content {
		margin-bottom: 6em;
	}
	.content-wrapper {
		max-width: 58em;
	}
	article {
		margin-bottom: 4em;
	}
}

@media ( min-width : 95em) {
	body {
		font-size: 130%;
	}
	.content-wrapper {
		max-width: 55em;
	}
	article {
		margin-bottom: 8em;
	}
	#sidebar {
		padding: 7em 2em 0 2em;
		margin-bottom: 3.5em;
	}
}

.clearfix {
	clear: both;
}

.post .post-content {
	
}