@CHARSET "UTF-8";


/******************* Layout *********************/

html, body {
	height: 100%;
}

body {
	background: white url('/graphics/cream_dust.png'); /** This pattern is downloaded from www.subtlepatterns.com  */
	font-family: 'Nobile', sans-serif;
	color: #41210F;
}

/* Custom container */
.container-narrow, .container {
	margin: 0 auto;
}
.container-narrow {
  max-width: 700px;
}

hr {
	margin: 30px 0;
}

.main-wrapper {
	min-height: 100%;
    height: auto !important;
    height: 100%;
    
    /* Negative indent footer by it's height */
    margin: 0 auto -220px;
}

.main-wrapper .container-narrow, .main-wrapper .container {
	padding-bottom: 300px;
}

header {
	padding-top: 20px;
}

footer {
	background: #41210F;
	color: #BAA98C;
	padding: 0 0 0 0;
	min-height: 120px;
	padding: 80px 0 20px 0;
}

footer .some-links a, footer .some-links a:hover {
	color: #BAA98C;
	font-size: 20px;
	text-decoration: none;
}

footer .copyright {
	margin-top: 20px;
	text-align: center;
}

@media (max-width: 767px) {
  footer {
  	margin-left: -20px;
  	margin-right: -20px;
  	padding-left: 20px;
  	padding-right: 20px;
  }
}


/******************* Headings *********************/

.muted, h1 small, h2 small, h3 small, h4 small, h5 small, h6 small, blockquote small {
	color: #BAA98C;
}

h1 {
	font-size: 36px;
	line-height: 48px;
}

h2 {
	font-size: 28px;
	margin-top: 20px;
}

div.title div {
	margin: -6px 0 10px 0;
}

div.title div.date {
	font-size: 18px;
}

.post-listing div.title div {
	margin-top: -13px;
	font-size: 14px;
}

header h3 a, header h3 a:hover {
	color: #3FB0A2;
}


/******************* Navigation *********************/

a {
	color: #3FB0A2;
	
}
a:hover {
	color: #BFA67F;
}

.nav-pills > .active > a, .nav-pills > .active > a:hover, .nav-pills li a:hover {
	color: white;
	background-color: #3FB0A2;
}



/******************* Post *********************/

.post-listing .post {
	margin-bottom: 60px;
}
.post-listing .post:last-child {
	margin-bottom: 0px;
}

.post-listing div.title h3 a {
	color: #41210F;
}


.post-icon {
	font-size: 28px;
	color: #FFF;
	background: #DE5C0C;
	float: left;
	width: 60px;
	height: 60px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	margin: 10px 20px 15px 0;
}

.post-icon i {
	margin: 19px 0 0 18px;
	position: absolute;	
}

.post-icon a, .post-icon a:hover {
	color: #FFF;
	text-decoration: none;
}


.post .cover {
	text-align: center;
	margin: 0 auto 20px auto;
}

.post .cover.image {
}

.post-listing .post .cover img {
}

p.caption {
  text-align: center;
	margin: 10px 0 -10px 0;
}

.post p.excerpt {
	font-size: 18px;
	line-height: 30px;
	margin-bottom: 20px;
}

.post .source {
	color: #BAA98C;
	font-size: 85%;
}

.post ul.tags {
	margin-left: 0px;
}
.post ul.tags li {
	list-style: none;
	display: inline;
	margin-left: 3px;
}
.post ul.tags li:after {
  content: ", ";
}
.post ul.tags li:last-child:after {
  content: "";
}


.image {
	padding: 20px;
	margin: 0 0 20px 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  display: table;
}


/******************* Reveal iframes *********************/

iframe.reveal {
	width: 700px;
	height: 550px;
}

/******************* Homepage sidebar *********************/

ul.some-links {
	list-style: none;
	margin: 0 0 0 0;
}

ul.some-links li {
	display: inline;
}

.some-links a, .some-links a:hover {
	color: black;
	font-size: 20px;
	text-decoration: none;
}

img.avatar {
	border: 4px double #BAA98C;
	width: 52px;
	height: 52px;
	margin: 0 10px 10px 0;
}

.user-info h4 {
	margin-top: 6px;
}

