{% extends 'base' %}

{% block head %}
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
{% endblock %}

{% block css %}
  <link rel="stylesheet" href="/vendor/reveal.js-2.5.0/css/reveal.min.css">
  <link rel="stylesheet" href="/vendor/reveal.js-2.5.0/css/theme/default.css" id="theme">

  <!-- For syntax highlighting -->
  <link rel="stylesheet" href="/vendor/reveal.js-2.5.0/lib/css/zenburn.css">
  
  <!-- Some more styles -->
  <link href="{{ site.url }}/css/reveal.css" rel="stylesheet">
  
{% endblock %}

{% block js_head %}
  <script src="/vendor/reveal.js-2.5.0/lib/js/head.min.js"></script>

  <!-- If the query includes 'print-pdf', use the PDF print sheet -->
  <script>
   document.write( '<link rel="stylesheet" href="/vendor/reveal.js-2.5.0/css/print/' + ( window.location.search.match( /print-pdf/gi ) ? 'pdf' : 'paper' ) + '.css" type="text/css" media="print">' );
  </script>
{% endblock %}

{% block body %}
  <div class="reveal">
    <div class="slides">
    {% block content %}{% endblock %}
    </div>
  </div>
{% endblock %}

{% block js_footer %}
  <script src="/vendor/reveal.js-2.5.0/js/reveal.min.js"></script>
  <script>

   // Full list of configuration options available here:
   // https://github.com/hakimel/reveal.js#configuration
   Reveal.initialize({
    controls : true,
    progress : true,
    history  : true,
    center   : true,

    theme      : 'default', 
    transition : Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/fade/none

    // Optional libraries used to extend on reveal.js
    dependencies: [
     { src: '/vendor/reveal.js-2.5.0/lib/js/classList.js', condition: function() { return !document.body.classList; } },
     { src: '/vendor/reveal.js-2.5.0/plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
     { src: '/vendor/reveal.js-2.5.0/plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
     { src: '/vendor/reveal.js-2.5.0/plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
     { src: '/vendor/reveal.js-2.5.0/plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
     { src: '/vendor/reveal.js-2.5.0/plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
    ]
   });

  </script>
{% endblock %}
