
{% if paginator.total_pages > 1 %}

{% assign url_prefix = "/" %}
{% if page.categories[0] != 'home' %}
  {% capture url_prefix %}/{{ page.categories[0] }}/{% endcapture %}
{% endif %}

<!-- Pagination links -->
<div class="pagination">
	<ul>
		{% capture prev_url %}{{ url_prefix }}page{{ paginator.previous_page }}{% endcapture %}
		{% if paginator.previous_page == 1 %}
			{% assign prev_url = url_prefix %}	
		{% endif %}	
		{% if paginator.previous_page == nil %}
			{% assign prev_url = '#' %}
		{% endif %}

    	<li {% unless paginator.previous_page %} class="disabled" {% endunless %}><a href="{{ prev_url }}">«</a></li>
    	
    	{% for i in (1..paginator.total_pages) %}
    		{% if i == 1 %}
   				<li {% if paginator.page == 1 %} class="active" {% endif %}><a href="{{ url_prefix }}">{{ i }}</a></li>   			    		
    		{% else %}
   				<li {% if paginator.page == i %} class="active" {% endif %}><a href="{{ url_prefix }}page{{ i }}">{{ i }}</a></li>   			
   			{% endif %}
    	{% endfor %}
    	  
		  {% capture next_url %}{{ url_prefix }}page{{ paginator.next_page }}{% endcapture %}
		  {% if paginator.next_page == nil %}
			  {% assign next_url = '#' %}
		  {% endif %}
    	<li {% unless paginator.next_page %} class="disabled" {% endunless %}><a href="{{ next_url }}">»</a></li>
  	</ul>
</div>
{% endif %}