<footer>
  	<div class="container-narrow">
   		<div class="row">
			<div class="span9 user-info">
				<div class="pull-right">
	    			<ul class="some-links">
						<li><a href="https://plus.google.com/u/0/117445873455722224345"><i class="icon-google-plus"></i></a></li>
						<li><a href="http://www.linkedin.com/in/naakka"><i class="icon-linkedin"></i></a></li>
						<li><a href="http://twitter.com/naakka/"><i class="icon-twitter"></i></a></li>
						<li><a href="mailto:{{ site.author.email }}"><i class="icon-envelope"></i></a></li>
						<li><a href="http://feeds.feedburner.com/naakka"><i class="icon-rss"></i></a></li>
					</ul>    			
   				</div>    	
				
				<div class="clearfix">
					<div class="pull-left">
						<img src="/img/jaakko_naakka.jpg" alt="{{ site.author.name }}" title="{{ site.author.name }}" class="avatar"/>
					</div>
	
					<h4>{{ site.author.name }}</h4>	
					
					<p>
					A user centered web developer. Head of Development at <a href="http://intunex.fi">Intunex</a>.
					</p>
				</div>
				
				<div class="copyright">
					&copy; Jaakko Naakka 2012
				</div>
	
			</div>
		</div>
   	</div>
</footer>


