<ul class="nav nav-pills pull-right">
  {% for sections in site.sections %}
    {% for section in sections %}
      {% if section.name %}
        {% assign url = "/" %}
        {% if section.slug != "" %}
          {% capture url %}/{{ section.slug }}/{% endcapture %}
        {% endif %}
        <li class="{% if page.main_menu == section.slug %} active {% endif %}"><a href="{{ url }}"><i class="icon-{{ section.icon }}"></i> {{ section.name }}</a></li>
      {% endif %}
    {% endfor %}
  {% endfor %}
</ul>
