

<div class="row">
	<div class="span3 user-info">
		<div class="clearfix">
			<div class="pull-left">
				<img src="/img/jaakko_naakka.jpg" alt="Jaakko Naakka" title="Jaakko Naakka" class="avatar"/>
			</div>
		
			<h4>{{ site.author.name }}</h4>	
		</div>

		<p>
		A user centered web developer. Head of Development at <a href="http://intunex.fi">Intunex</a>.
		</p>
		
		<ul class="some-links">
			<li><a href="https://plus.google.com/u/0/117445873455722224345"><i class="icon-google-plus"></i></a></li>
			<li><a href="http://www.linkedin.com/in/naakka"><i class="icon-linkedin"></i></a></li>
			<li><a href="http://twitter.com/naakka/"><i class="icon-twitter"></i></a></li>
			<li><a href="mailto:{{ site.author.email }}"><i class="icon-envelope"></i></a></li>
			<li><a href="/atom.xml"><i class="icon-rss"></i></a></li>
		</ul>
		
	</div>
		
</div>


