<div class="some-links">
  <ul>
    <li><a href="{{ site.author.google_plus }}"><i class="fa fa-google-plus"></i></a></li>
    <li><a href="{{ site.author.linkedin }}"><i class="fa fa-linkedin"></i></a></li>
    <li><a href="http://twitter.com/{{ site.author.twitter }}/"><i class="fa fa-twitter"></i></a></li>
    <li><a href="{{ site.author.github }}"><i class="fa fa-github"></i></a></li>
    <li><a href="{{ site.author.tumblr }}"><i class="fa fa-tumblr"></i></a></li>
    <li><a href="mailto:{{ site.author.email }}"><i class="fa fa-envelope"></i></a></li>
    <li><a href="http://feeds.feedburner.com/naakka"><i class="fa fa-rss"></i></a></li>
  </ul>
</div>