
{% if post.image %}
	{% assign image_link = post.url %}
	{% if post.link %}
		{% assign image_link = post.link %}
	{% endif %}

	<div class="cover image">
		<a href="{{ image_link }}"><img src="{{ post.image }}" /></a>

		{% if post.caption %}
			<p class="caption">
				{{ post.caption }}
			</p>
		{% endif %}
	</div>
{% endif %}

{% if post.embed %}
	<div class="cover">
		{{ post.embed }}
	</div>
{% endif%}

{% if post.quote %}
	<blockquote>
		<p>
			{{ post.quote }}
		</p>
		
		{% if post.link %}
			<p class="source">
			<i class="icon-link"></i> Source: <a href="{{ post.link}}">{{ post.source }}</a>
			</p>
		{% endif %}
		
	</blockquote>
{% elsif post.link %}
	<p class="source"><i class="icon-link"></i> Source: <a href="{{ post.link}}">{{ post.source }}</a></p>	
{% endif %}

{{ content }}

