
{% if post.image %}
	{% if post.link %}
		{% assign image_link = post.link %}
	{% endif %}

	<div class="cover image">
		<a href="{{ image_link }}"><img src="{{ post.image }}" /></a>

		{% if post.caption %}
			<p class="caption">
				{{ post.caption }}
			</p>
		{% endif %}
	</div>
{% endif %}

{% if post.embed %}
	<div class="cover">
		{{ post.embed }}
	</div>
{% endif%}

{% if post.type == 'reveal' and post.link %}
	<div class="cover">
		<iframe src="{{ post.link }}" class="reveal"></iframe>
	</div>
{% endif%}
