
{% assign icon_link = post.url %}
{% if post.link %}
	{% assign icon_link = post.link %}
{% endif %}
				
<div class="post">
	<div class="row">
		<div class="span1">
			<div class="post-icon">
				<a href="{{ icon_link }}">{% include post/icon.html %}</a> 
			</div>
		</div>
		
		<div class="span5">
			<h3 class="title"><a href="{{ post.url }}">{{ post.title }} <small>{{ post.date | date_to_string }}</small></a></h3>		
		</div>
	</div>

	<div class="row">
		<div class="span6">
			<div class="content">					
				{% if post.description %}
					<p>{{ post.description }}</p>
					<p><a href="{{ post.url }}">Read the full story <i class="icon-arrow-right"></i></a></p>
				{% else %}
					{% assign content = post.content %}
					{% include post/contents.html %}
	
				{% endif %} 
			</div>
		</div>
	</div>
</div>
