---
layout: none
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  {% assign page_category = page.categories[0] %}
  {% assign slug = site.sections[page_category].slug %}

  {% assign feed_url = site.production_url %}
  {% if slug != "" %}
    {% capture feed_url %}{{ site.production_url }}/{{ slug }}{% endcapture %}
  {% endif %}
  {% capture feed_url %}{{ feed_url }}/atom.xml{% endcapture %}
  
  <title>{{ site.sections[page_category].rss.title }}</title>  
  
  <link href="{{ feed_url }}" rel="self"/>
  <link href="{{ site.production_url }}/{{ slug }}"/>
  
  <updated>{{ site.time | date_to_xmlschema }}</updated>
  <id>{{ site.production_url }}/{{ slug }}</id>
  <author>
      <name>{{ site.author.name }}</name>
      <email>{{ site.author.email }}</email>
  </author>
  
  {% assign posts = site.posts %}
  
  {% if page_category != 'home' %}
    {% assign posts = site.categories[page_category] %}
  {% endif %}

  {% for post in posts %}
  {% assign content = post.content %}
  {% capture post_content %}
    {% include post/contents.html %}
  {% endcapture %}  
  
  <entry>
      <title>{{ post.title }}</title>
        <link href="{{ site.production_url }}{{ post.url }}"/>
        <updated>{{ post.date | date_to_xmlschema }}</updated>
        <id>{{ site.production_url }}{{ post.id }}</id>
        <content type="html">{{ post_content | xml_escape }}</content>
  </entry>
 {% endfor %}
 
</feed>