<!DOCTYPE html>
<html lang="en">
  {% include elements/head.html %}

  <body>
  
	<div class="main-wrapper">
    	<div class="container-narrow">
      		<header>
      		  {% include elements/navbar.html %}      		  
        		<h3 class="muted"><a href="/">{{ site.title }}</a></h3>
      		</header>
		    <hr />   	  
   	  		{{ content }}
    	</div> <!-- /container -->
    </div>
    
    {% include elements/footer.html %}
    {% include javascript.html %}
    {% include google_analytics.html %}
    
  </body>
</html>
