---
layout: default
---

{% assign post = page %}

<div class="post">
	<div class="row">
		<div class="span1">
			<div class="post-icon">
				{% if post.type == 'link' and post.link %}
					<a href="{{ post.link }}">{% include post/icon.html %}</a>
				{% else %}
					{% include post/icon.html %} 			
				{% endif %}
			</div>
		</div>
		
		<div class="span8">
			<h1>{{ post.title }} <small>{{ post.date | date_to_string }}</small></h1>	
		</div>
	</div>

	<div class="row">
		<div class="span9">		
			{% if post.description %}
				<p class="description">
					{{ post.description }}
				</p>
			{% endif %}

			{% include post/contents.html %}
		</div>
	</div>
</div>


